.selected-lang:before{
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    justify-content: cover;
    background-image: url(../../img/poland-flag-icon-32.png); /*foto de la bandera principal**/
    background-repeat: no-repeat;
    z-index: 5;
  }

  @media only screen and (max-width: 440px) {

    .selected-lang:before{
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      justify-content: cover;
      background-image: url(../../img/poland-flag-icon-32.png); /*foto de la bandera principal**/
      background-repeat: no-repeat;
      z-index: 5;
    }
  }