@media only screen and (min-width: 440px) and ( max-width: 861px)  {

    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 100px; /**********************Done*/ 
      }

      .text_style {
        display: grid;
        justify-content: center;
    }

      .animate-charcter {
        text-transform: uppercase;
        background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textanimation 3s linear infinite;
        display: inline-block;
        font-size: 95px;
    }

    .project-section {
        width: 100%;
        min-height: 100vh;
        padding: 55px 14px 100px;
        position: fixed;
        top: 0;
        transition: 1s;
        opacity: 0;
    }

    .animate-charcter-es {
      text-transform: uppercase;
      background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textanimation 3s linear infinite;
      display: inline-block;
      font-size: 90px;
  }

  
  .project-title-p2 {
    font-size: 36px;
/* text-transform: capitalize; */
text-align: center;
font-weight: 300;
color: black;
line-height: 30px;
}

.project-title {
  font-size: 36px;
  /* text-transform: capitalize; */
  text-align: center;
  font-weight: 300;
}

.project-description {
  position: relative;
  padding: 15px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}
    
}