@media only screen  and ( max-width: 440px)  {


    .box {
      width: 30%; /**cambiar tamaño***/
      height: 30%; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
    }
  
    .box::after {
      content: "";
      inset: 10px;
      background-image: url();
      background-repeat: no-repeat;
      background-size: 230px;
      border-radius: 25px;
      clip-path: circle(48% at 50% 50%);
      z-index: 1;
    }
  
    .box-1 {
   
      width: 30%; /**cambiar tamaño***/
      height: 30%; /**cambiar tamaño***/
      display: flex;
      margin-left: 60px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      clip-path: circle(50% at 50% 50%);
    }
  
    .box-2 {
      position: absolute;
      width: 30%; /**cambiar tamaño***/
      height: 30%; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
    }
  
    .box-3 {
      width: 30%; /**cambiar tamaño***/
      height: 30%; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
    }
  /* para cambiar dimenciones del borde animado box-2 box-1 Before*/
    .box-2::before {
      content: "";
      width:0px;
      height:0%;
      background: linear-gradient(#00E1FD, #7f00ff);
      animation: animate 4s linear infinite;
    }
  
    .box-1::before {
      content: "";
      width: 80px;
      height: 30%;
      background: linear-gradient(#00E1FD,#7f00ff);
      animation: animate1 4s linear infinite;
    }
  
    .box::before {
      content: "";
      width: 80px;
      height: 100%;
      background: linear-gradient(#00E1FD,#7f00ff);
      animation: animate3 4s linear infinite;
    }
  
    /*end */
  
    
  }