
@media only screen and (min-width: 441px) and ( max-width: 821px)  {


    .box::after {
      content: "";
      inset: 30px;
      background-image: url(../../../img/avatar.png);
      background-repeat: no-repeat;
      background-size: 330px;
      border-radius: 25px;
      clip-path: circle(48% at 50% 50%);
      z-index: 1;
    }
  
    .box-1 {
      margin-left: 210px;
      width: 430px; /**cambiar tamaño***/
      height: 430px; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      clip-path: circle(50% at 50% 50%);
    }
  
    .box-1::before {
      content: "";
      width: 250px;
      height: 42%;
      background: linear-gradient(#00E1FD,#7f00ff);
      animation: animate1 4s linear infinite;
    }  
  
    .box-2 {
      position: absolute;
      width: 420px; /**cambiar tamaño***/
      height: 420px; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
    }
  
    .box-3 {
      width: 410px; /**cambiar tamaño***/
      height: 410px; /**cambiar tamaño***/
      display: flex;
      justify-content: center;
      align-items: center;
      clip-path: circle(50% at 50% 50%);
    }
  /* para cambiar dimenciones del borde animado box-2 box-1 Before*/
    .box-2::before {
      content: "";
      width:0px;
      height:0%;
      background: linear-gradient(#00E1FD, #7f00ff);
      animation: animate 4s linear infinite;
    }
  /*
    .box-1::before {
      content: "";
      width: 80px;
      height: 30%;
      background: linear-gradient(#00E1FD,#7f00ff);
      animation: animate1 4s linear infinite;
    }*/
  
    .box::before {
      content: "";
      width: 0px;
      height: 0%;
      background: linear-gradient(#00E1FD,#7f00ff);
      animation: none;
    }
  
    /*end */
  
    
  
  
  
  }