@media only screen and (max-width: 440px) {

     header.abajo ul li a {
        margin: 2px;
        color: rgb(255, 255, 255);
        top: 0px;
    }

    .animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textanimation 3s linear infinite;
    display: inline-block;
    font-size: 51px;
    }

    .animate-charcter_con_es {
        text-transform: uppercase;
        background-image: linear-gradient( -225deg, #8bffff 0%, #8f71ff 50%, #8bffff 100% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textanimation 3s linear infinite;
        display: inline-block;
        font-size: 45px;
        }

    .contact-section {
    display: grid;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 100px 20px;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}

    .form-submit-btn {
    background: #ff4f4f;
    color: #fff;
    width: 100%;
    height: 10%;
    text-transform: capitalize;
    margin: -5px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;    
    }

    .data_to_share {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.4);
    backdrop-filter: saturate(5px);
    border: solid 1px rgba(225, 225, 225, 0.8);
    border-radius: 10px;
    z-index: 10;
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 1fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    place-items: center;
    z-index: 10;
    }

    .data_to_share p {
    grid-area: 2/1/3/4;
    background-color: #0079A8;
    height: 55px;
    border-radius: 50px 50px;
    padding: 10px 40px;
    text-align: center;
    margin: 15px 0px;
    z-index: 10;
}

    .logo_share:hover{
    margin: 10px auto;
    width: auto;
    height: 50px;
    cursor: pointer;
}

    .contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #000000;
    padding: 5px 10px;
}

    .text_style {
    display: grid;
    justify-content: center;
    grid-area: 1/1/2/2;
}

}